.product-form{
    widows: 30rem;
    max-width:60%;
    margin:auto;
}
.form-control{
    margin:1rem 0;
}
.form-control label,
.form-control input{
    display: block;

}

.form-control input{
    border: 1px solid ;
    font:inherit;
    border-radius: 2px;
    width:100%;

    
}
button{
    background:white;
    font:inherit;
    border: 1px solid burlywood;
    color:crimson;
    cursor:pointer;
    padding:0.5rem;
    border-radius: 5px;
}
button:hover,
button:active{
    background-color:#107772;
    color:white;
    border:1px solid #107772;
}